
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

:root {
    --primary: #396dff;
    --grey: #f7f7f7;
    --white: #fff;
    --m1: #ee9ca7;
    --m2: #1e88a8;
    --m3: #e98b2a;
    --m4: #ff8000;
    --m5: #d9b8f1;
    --m6: #b8f1cc;
    --m7: #b8f1ed;

    --xs: 4px;
    --s: 8px;
    --m: 16px;
    --l: 24px;
}

.name {
    text-align: center;
}

.u-textCenter {
    text-align: center;
}

.u-textLeft {
    text-align: left;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.navTitle {
    color: var(--m1);
    background-color: var(--m2);
    font-size: 20px;
    /* Below cancels out some of the default styling */
    margin: 0;
    font-weight: normal;
}

.navContainer {
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

img.avatar {
    max-width: 100%;
    border-radius: var(--m);
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    background-color: var(--m7);
}

.submenu {
    list-style-type: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: var(--m6);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    flex-wrap: nowrap;
    text-align: center;
    border-radius: 2%;
}

li a {
    display: inline-block;
    padding: 14px 16px;
    text-align: center;
    color: var(--m1);
    background-color: var(--m6);
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.item {
    padding: 0;
}

li a:hover {
    color: var(--m5);
    background-color: var(--m7);
}

.avatarContainer {
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 15%;
}

.avatar {
    max-width: 100%;
    width: 40%;
    height: auto;
    display: block;

    padding-top: 40%;

    border-radius: 50%;

    background-image: url(images/efsf-logo.png);

    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    background-size: cover;

    margin: 0 auto;
}

.avatarContainer-introduction {
    padding: 10% 40%;
}

.avatar-introduction {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;

    padding-top: 100%;

    border-radius: 50%;

    background-image: url(images/efsf-logo.png);

    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    background-size: cover;

    margin: 0 auto;
}

.u-flex {
    display: flex;
    gap: 10px 0px;
    padding-left: 5%;
    padding-right: 5%;
}

.subContainer1 {
    flex-grow: 2;
    flex-basis: 0;
}

.subContainer2 {
    flex-grow: 3;
    flex-basis: 0;
}

.u-flex-introduction {
  display: flex;  
  padding-top: 15%;
  padding-left: 10%;
  padding-right: 10%;
}

.subContainer1-introduction {
    flex-grow: 1;
    flex-basis: 0;
}

.subContainer2-introduction {
    flex-grow: 2;
    flex-basis: 0;
}

.selfie {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.contactInfo {
    padding-left: 5%;
}

.questions {
    padding-left: 10%;
}

.dataDescription {
    padding: 8%;
}